.indicador{
    margin-right: 10px;
}

.informacoes{
    margin:auto;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 252px;
    text-align: center;
}

.tabuleiro{
    width: 252px;
    height: 252px;
    margin:auto;
}

.celula{
    width: 80px;
    height: 60px;
    border: 2px solid black;
    float: left;
    text-align: center;
    padding-top: 20px;
}